<!DOCTYPE html>
<html>
<head>
	<title>Social</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
	<body>
		<h1 style="text-align: center;">Welcome to Social</h1>
		<div style="width: 30%; margin: 25px auto">
			<a href="/register"><button class="btn btn-lg btn-block btn-default">Signup</button></a><br>
			<a href="/login"><button class="btn btn-lg btn-block btn-default">Login</button></a><br>
			<a href="/home"><button class="btn btn-lg btn-block btn-default">Home</button></a>
		</div>
	</body>
</html>